
<div class="wrapper">
  <div class="container edit-container" >
        <h1> Edit your service </h1>
          <%= simple_form_for (@service) do |f| %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :price %>
            <%= f.input :address %>
            <%= f.input :category %>
            <%= f.input :city %>
            <div class="form-actions text-center">
              <%= f.button :submit, class: "btn-suc", value: "Edit"%>
              <%= link_to "Cancel", user_path(current_user.id), class: "btn btn-suc" %>
            </div>
          <% end %>
  </div>
</div>
