<div class="container">

  <h1 class=text-center> Search Results</h1>
  <div class="service-card-container">
    <% @services.each do |service| %>
      <div class="service-card-box" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),  url('/assets/<%= service.category %>.jpg');">
        <div class="service-title">
          <%= service.name %>
        </div>
        <div class="service-card-infos">
           <%= cl_image_tag service.user.photo, class: "coach-card-avatar", width: 150, height: 150, crop: :thumb, gravity: :face %>
          <div class="service-card-details">
            <p><%= service.user.name %></p>
            <p><%= service.description %></p>
            <p><%= service.address %></p>
            <p><%= service.city %></p>
          </div>
          <div class="service-card-validation text-center">
            <p><%= service.price %>€</p>
            <%= link_to "Book now", new_booking_path, class: "btn btn-default service-card-button-resa" %>
          </div>
          <%= link_to "", service_path(service), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>



