


<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="form-inputs">
    <%= f.association :service, collection: Service.all %>
    <%= f.input :date %>
  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



<!-- simple_form_for @user do |f|
  f.association :company          # Company.all
end
 -->
