<div class="container">
<%= link_to "See my profile", user_path(current_user) %>
  <div class="row">
    <div class="dashboard-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(<%= image_path 'dashboard_background.jpg' %>);">
      <h1>My Dashboard</h1>
      <div class="profile-image">
        <% if user_signed_in? %>
          <%= cl_image_tag current_user.photo, class: "coach-card-avatar", width: 180, height: 180, crop: :thumb, gravity: :face %>
        <% end %>
      </div>
    </div>
    <div class="welcome">
      <h2>
        <% if user_signed_in? %>
          Hello <%= current_user.name%> !
        <% end %>
      </h2>
    </div>
  </div>


    <div class="dashboard row">

      <div class="calender">
        <div class="book">
        <h3>Calendar</h3>
         <%= image_tag "calender.png", class: "calender_img" %>
      </div>
      </div>


      <div class="booking">
        <div class="book">
        <h3>My Bookings</h3>
        </div>
        <div class="details_booking">
          <% @bookings.each do |booking| %>
          <div class="card-product">
            <%= image_tag "logo.png", height: 50 %>
                <div class="card-product-infos">
                  <h2><%= booking.service.name%></h2>
                  <p><%=booking.date%>
                    with <%= booking.service.user.name  %></p>
                    <%= link_to "Delete", booking_path(booking), method: :delete %>
                </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>


  </div>




<!-- <div class="flex-container">
  <p>just a try</p>



  <div class="flex-item">
     <p>just a try</p>


  </div>
  <div class="flex-item">...</div>
  <div class="flex-item">...</div>
</div> -->



