<div class="wrapper">
  <div class="container" >
    <div class="nice-form" style="background-image: url(<%= image_path 'coach.jpg' %>);">
      <div class="form-only">
      <h1>Book a Coach</h1>
        <%= simple_form_for ([@service, @booking]) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.association :service, collection: Service.all, value_method: :id, label_method: :name%>
        <%= f.input :date, class: "transparent" %>
        <div class="form-actions">
        <%= f.button :submit, class: "btn-suc", value: "Get fit !"%>
        </div>
        <br>
        <div class="form-actions">
          <%= link_to "Cancel", dashboard_path, class: "btn btn-suc" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row text-center">
  <%= link_to "Back to homepage", root_path, class: "btn btn-suc text-center" %>
      <%= link_to 'Back to my Dashboard', dashboard_path, class: "btn-suc text-center" %>
</div>




