<div class="container">
  <h2><%= @user.name %></h2>
  <p><%= @user.age %></p>
  <p><%= @user.city %></p>
  <div class="flex-item">
    <%= cl_image_tag @user.photo, class: "coach-card-avatar", width: 150, height: 150, crop: :thumb, gravity: :face %>
  </div>
  <p class="flex-item"><%= @user.category %></p>
</div>
<div class="row button">
  <%= link_to "Go back", root_path, class: "btn-coaches text-center" %>
</div>



<%= link_to "Edit my Profile", edit_user_registration_path %>


