<div class="row editing text-center">
  <%= link_to "Add a new service", new_service_path, class: "btn btn-coaches" %>
  <%= link_to "Edit my Profile", edit_user_registration_path, class: "btn-coaches" %>
</div>

<div class="container">
  <div class="row">
    <div class="profile-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(<%= image_path 'profile_background.jpg' %>);">
      <div class="profile-card-description">
       <h2><%= @user.name %></h2>
       <p>Age: <%= @user.age %></p>
       <p>City: <%= @user.city %></p>
       <p>Specialty: <%= @user.category %></p>
      </div>
      <div class="profile-image">
        <%= cl_image_tag @user.photo, class: "coach-card-avatar", width: 180, height: 180, crop: :thumb, gravity: :face %>
      </div>
    </div>
  </div>
  <div class="profile-background">
    <h3>My Background</h3>
    <p><%= @user.background %></p>
  </div>
  <div class="row service-description">
    <h2 text-center> My Services</h2>
    <div class="profile-service">
      <% @services.each do |service| %>
       <div class=profile-service-title>
        <%= service.name %>
       </div>
       <div class="profile-service-info">
        <p><%= service.description %></p>
        <p>Where: <%= service.address %></p>
        <p>Price: <%= service.price %>€ / hour</p>
       </div>
      <% end %>
      <% if current_user.id = @user.id %>
        <%= link_to "Update my service", edit_service_path(@user.services.first), class: "btn-coaches" %>
      <% else %>
        <%= link_to "Book now", new_booking_path, class: "btn-coaches" %>
      <% end %>
    </div>
  </div>
  <div class="row-link text-center">
    <%= link_to "Return to homepage", root_path, class: "btn-coaches" %>
  </div>
</div>
